{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_m }}px;
    padding-bottom: {{ section.settings.padding_bottom_m }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div
  id="{{ section.settings.section_id }}"
  class="section-{{ section.id }}-padding px-5"
  style="background-color: {{ section.settings.bgcolor }}"
>
  <div class="mx-auto w-full" style="max-width: {{ section.settings.max_width }}px;">
    {% assign max_width = section.settings.image_max_width %}
    {% assign max_width_px = section.settings.image_max_width | append: 'px' %}
    <div class="flex {% if section.settings.image_right %} flex-col-reverse {% else %} flex-col {% endif %} md:flex-row md:items-center md:gap-7 lg:gap-12 border md:border-none border-[#1C5934] rounded-[12px] md:rounded-none">
      {% if section.settings.image != blank %}
        {% unless section.settings.image_right %}
          <div id="{{ section.id }}" class="w-full">
            {{
              section.settings.image
              | image_url: width: max_width
              | image_tag: class: 'w-full rounded-t-[12px] md:rounded-t-none max-md:aspect-[4/3] object-cover', sizes: max_width_px
            }}
          </div>
          <style>
                    #{{ section.id }} {
                        @media screen and (min-width: 768px) {
                            max-width: {{ max_width_px }};
            }
                    }
          </style>
        {% endunless %}
      {% endif %}

      <div class="flex flex-1 flex-col gap-3 md:gap-5 px-4 py-6 md:p-0">
        {% if section.settings.heading != blank %}
          <div
            class="text-[26px] md:text-[32px] font-bold !leading-[1.5] text-[#000000]"
            style="color: {{ section.settings.color }}"
          >
            {{ section.settings.heading }}
          </div>
        {% endif %}

        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'row' %}
              <div class="flex flex-col gap-[10px] md:gap-[15x]">
                {% if block.settings.heading != blank %}
                  <div class="w-fit text-center text-[16px] md:text-[16px] font-normal !leading-tight text-[#084C25] border border-[#084C25] px-5 py-2 rounded-[100px]">
                    {{ block.settings.heading }}
                  </div>
                {% endif %}

                {% if block.settings.description != blank %}
                  <div class="text-[16px] md:text-[16px] font-normal !leading-tight text-[#000]">
                    {{ block.settings.description }}
                  </div>
                {% endif %}
              </div>
          {% endcase %}
        {% endfor %}
      </div>

      {% if section.settings.image != blank %}
        {% if section.settings.image_right %}
          <div id="{{ section.id }}" class="w-full">
            {{
              section.settings.image
              | image_url: width: max_width
              | image_tag: class: 'w-full rounded-t-[12px] md:rounded-t-none max-md:aspect-[4/3] object-cover', sizes: max_width_px
            }}
          </div>
          <style>
                    #{{ section.id }} {
                        @media screen and (min-width: 768px) {
                            max-width: {{ max_width_px }};
            }
                    }
          </style>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "ADV 2 Image Text",
  "settings": [
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Color",
      "default": "#00754A"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "checkbox",
      "id": "image_right",
      "label": "Image Right",
      "default": true
    },
    {
      "type": "range",
      "id": "image_max_width",
      "min": 200,
      "max": 1000,
      "step": 20,
      "unit": "px",
      "label": "Max Width",
      "default": 600
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "color",
      "id": "bgcolor",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "max_width",
      "min": 600,
      "max": 1800,
      "step": 20,
      "unit": "px",
      "label": "Max Width",
      "default": 1200
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Top",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_top_m",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Top (Mobile)",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom_m",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom (Mobile)",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "row",
      "name": "Row",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "ADV 2 Image Text"
    }
  ]
}
{% endschema %}
