{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_m }}px;
    padding-bottom: {{ section.settings.padding_bottom_m }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding">
  <div class="w-full">
    <div class="flex flex-col items-center justify-center gap-6 md:gap-12 overflow-hidden py-4 bg-[#001c72]" style="background-color: {{ section.settings.bgcolor }}">
      {% if section.blocks.size > 0 %}
        <div class="new-home-texts__anim flex">
          {% for i in (1..6) %}
            <div class="w-[1000px] flex items-center justify-between gap-10 px-10">
              {% for block in section.blocks %}
                {% if block.settings.text != blank %}
                  <div class="text-[#fff] text-[18px] leading-tight md:leading-tight font-bold whitespace-nowrap text-center">
                    {{ block.settings.text }}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

<style>
  .new-home-texts__anim {
    animation: newHomeTextsAnimation 60s linear infinite;
    width: 6000px;
  }
  @keyframes newHomeTextsAnimation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-3000px);
    }
  }
</style>

{% schema %}
{
  "name": "AL Animation",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "color",
      "id": "bgcolor",
      "label": "background Color",
      "default": "#00176b"
    },
    {
      "type": "range",
      "id": "max_width",
      "min": 600,
      "max": 1800,
      "step": 20,
      "unit": "px",
      "label": "Max Width",
      "default": 1200
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Top",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_top_m",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Top (Mobile)",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom_m",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom (Mobile)",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "row",
      "name": "Row",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "AL Animation"
    }
  ]
}
{% endschema %}
