{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_m }}px;
    padding-bottom: {{ section.settings.padding_bottom_m }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div
  id="{{ section.settings.section_id }}"
  class="section-{{ section.id }}-padding px-5"
  style="background-color: {{ section.settings.bgcolor }}"
>
  <div class="mx-auto w-full" style="max-width: {{ section.settings.max_width }}px;">
    <div class="flex flex-col items-center justify-center text-center gap-6 md:gap-12">
      {% if section.settings.heading != blank %}
        <h2 class="text-[26px] md:text-[36px] font-bold !leading-tight text-[#0B0B0B]">
          {{ section.settings.heading }}
        </h2>
      {% endif %}

      {% if section.settings.description != blank %}
        <div class="text-[17px] md:text-[20px] font-normal !leading-tight text-[#000]">
          {{ section.settings.description }}
        </div>
      {% endif %}

      {% if section.blocks.size > 0 %}
        <div class="w-full grid md:grid-cols-2 gap-x-3 md:gap-x-[30px] lg:gap-x-[50px] gap-y-3 md:gap-y-6">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'row' %}
                <div class="px-4 py-2 md:py-[10px] flex items-center gap-3 border border-[#084C25] rounded-[6px] text-left w-full max-w-[320px] md:max-w-none mx-auto">
                  {% if block.settings.image != blank %}
                    {{
                      block.settings.image
                      | image_url: width: 40
                      | image_tag: class: 'w-full max-w-[30px] md:max-w-[40px]', sizes: '40px'
                    }}
                  {% endif %}
                  {% if block.settings.heading != blank %}
                    <div class="flex-1 text-[16px] md:text-[20px] font-normal underline !leading-tight text-[#0000EE] truncate whitespace-nowrap overflow-hidden">
                      {{ block.settings.heading }}
                    </div>
                  {% endif %}
                </div>
            {% endcase %}
          {% endfor %}
        </div>
      {% endif %}

      {% if section.settings.button_label != blank %}
        <div class="w-full md:w-fit mx-auto">
          <a
            href="{{ section.settings.button_url }}"
            class="new-button--primary"
          >
            {{ section.settings.button_label }}
            {%- render 'icon-arrow-right' -%}
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "LS Case Study",
  "settings": [
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "color",
      "id": "bgcolor",
      "label": "background Color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "max_width",
      "min": 600,
      "max": 1800,
      "step": 20,
      "unit": "px",
      "label": "Max Width",
      "default": 1200
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Top",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_top_m",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Top (Mobile)",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom_m",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom (Mobile)",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "row",
      "name": "Row",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "LS Case Study"
    }
  ]
}
{% endschema %}
