{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_m }}px;
    padding-bottom: {{ section.settings.padding_bottom_m }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div
  id="{{ section.settings.section_id }}"
  class="section-{{ section.id }}-padding px-5"
  style="background-color: {{ section.settings.bgcolor }}"
>
  <div class="mx-auto w-full" style="max-width: {{ section.settings.max_width }}px;">
    <div class="flex flex-col items-center justify-center gap-6 md:gap-12">
      {% if section.settings.heading != blank %}
        <h2 class="{% if section.settings.box_heading %} w-full bg-[#084c25] text-center rounded-[8px] p-5 text-[22px] md:text-[32px] font-bold !leading-tight text-[#fff] {% else %} text-[26px] md:text-[40px] font-bold !leading-tight text-[#000] {% endif %}">
          {{ section.settings.heading }}
        </h2>
      {% endif %}

      {% if section.settings.description != blank %}
        <div class="text-[17px] md:text-[20px] font-normal !leading-tight text-[#000]">
          {{ section.settings.description }}
        </div>
      {% endif %}

      {% if section.blocks.size > 0 %}
        <div class="flex flex-col gap-10">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'row' %}
                <div
                  class="flex flex-col gap-[20px] md:gap-[30x] {% if block.settings.set_max_width %}  w-full mx-auto {% endif %}"
                  {% if block.settings.set_max_width %}
                    style="max-width: {{ block.settings.max_width }}px;"
                  {% endif %}
                >
                  {% if block.settings.heading != blank %}
                    <h2 class="text-[20px] md:text-[24px] font-bold !leading-tight text-[#000]">
                      {{ block.settings.heading }}
                    </h2>
                  {% endif %}

                  {% if block.settings.description != blank %}
                    <div class="{% if block.settings.smal_description %} text-[14px] md:text-[14px] {% else %} text-[17px] md:text-[20px] {% endif %} font-normal !leading-tight text-[#000] [&>ul]:list-disc [&>ul]:pl-6 [&>ol]:list-decimal [&>ol]:pl-6">
                      {{ block.settings.description }}
                    </div>
                  {% endif %}

                  {% if block.settings.image != blank %}
                    {{ block.settings.image | image_url: width: 600 | image_tag: class: 'w-full', sizes: '600px' }}
                  {% endif %}
                </div>

              {% when 'highlight' %}
                {% if block.settings.heading != blank %}
                  <h2
                    class="text-[20px] md:text-[30px] font-bold !leading-tight text-[#fff] p-5 text-center rounded-[4px]"
                    style="background-color: {{ block.settings.background_color }}"
                  >
                    {{ block.settings.heading }}
                  </h2>
                {% endif %}

              {% when 'button' %}
                {% if block.settings.button_label != blank %}
                  <div class="w-full md:w-fit mx-auto">
                    <a
                      href="{{ block.settings.button_url }}"
                      class="new-button--primary"
                    >
                      {{ block.settings.button_label }}
                      {%- render 'icon-arrow-right' -%}
                    </a>
                  </div>
                {% endif %}

              {% when 'list' %}
                <div class="grid grid-cols-1 md:grid-cols-{{block.settings.desktop_row}} gap-3 md:gap-x-10">
                  {% for i in (1..7) %}
                    {% assign description_name = 'text' | append: i %}
                    {% assign description = block.settings[description_name] %}

                    {% if description != blank %}
                      <div class="flex gap-2 items-center">
                        {% if block.settings.image != blank %}
                          {{
                            block.settings.image
                            | image_url: width: 20
                            | image_tag: class: 'w-full max-w-[18px] md:max-w-[20px] h-fit'
                          }}
                        {% endif %}
                        <div class="text-[#000] text-[17px] md:text-[20px] font-normal !leading-[1.5]">
                          {{ description }}
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
            {% endcase %}
          {% endfor %}
        </div>
      {% endif %}

      {% if section.settings.button_label != blank %}
        <div class="w-full md:w-fit mx-auto">
          <a
            href="{{ section.settings.button_url }}"
            class="new-button--primary"
          >
            {{ section.settings.button_label }}
            {%- render 'icon-arrow-right' -%}
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "NL Full Contents",
  "settings": [
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "checkbox",
      "id": "box_heading",
      "label": "Box Heading",
      "default": false
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "color",
      "id": "bgcolor",
      "label": "background Color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "max_width",
      "min": 400,
      "max": 1800,
      "step": 20,
      "unit": "px",
      "label": "Max Width",
      "default": 1200
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Top",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_top_m",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Top (Mobile)",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom_m",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom (Mobile)",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "row",
      "name": "Row",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "checkbox",
          "id": "smal_description",
          "label": "Small Description",
          "default": false
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "checkbox",
          "id": "set_max_width",
          "label": "Set Max Width",
          "default": false
        },
        {
          "type": "range",
          "id": "max_width",
          "min": 200,
          "max": 1600,
          "step": 40,
          "unit": "px",
          "label": "Max Width",
          "default": 600
        }
      ]
    },
    {
      "type": "highlight",
      "name": "Highlight",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color",
          "default": "#f9a21c"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button URL"
        }
      ]
    },
    {
      "type": "list",
      "name": "List",
      "settings": [
        {
          "type": "range",
          "id": "desktop_row",
          "min": 1,
          "max": 10,
          "step": 1,
          "default": 2,
          "unit": "col",
          "label": "Desktop Row"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "text1",
          "label": "Text 1"
        },
        {
          "type": "text",
          "id": "text2",
          "label": "Text 2"
        },
        {
          "type": "text",
          "id": "text3",
          "label": "Text 3"
        },
        {
          "type": "text",
          "id": "text4",
          "label": "Text 4"
        },
        {
          "type": "text",
          "id": "text5",
          "label": "Text 5"
        },
        {
          "type": "text",
          "id": "text6",
          "label": "Text 6"
        },
        {
          "type": "text",
          "id": "text7",
          "label": "Text 7"
        },
        {
          "type": "text",
          "id": "text8",
          "label": "Text 8"
        },
        {
          "type": "text",
          "id": "text9",
          "label": "Text 9"
        },
        {
          "type": "text",
          "id": "text10",
          "label": "Text 10"
        },
        {
          "type": "text",
          "id": "text11",
          "label": "Text 11"
        },
        {
          "type": "text",
          "id": "text12",
          "label": "Text 12"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "NL Full Contents"
    }
  ]
}
{% endschema %}
